*{
    margin : 0; 
    box-sizing : border-box;
}
/*Le texte du corps de la page*/
body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 0.99rem;
    line-height: 1.4;
}

p{
    margin: 0 0 1rem;
}
/*LE GROS TITRE*/
h1{
    margin: 0 0 1rem;
    font-size: xx-large;
    margin-bottom: .1rem;
}
/* Sous-TITRE*/
h2{
    margin: 0 0 1rem;
    letter-spacing: 0;
    text-transform:none;
}

/*le contenu du CV*/
.cv-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; /* met le texte de la colomne de gauche dans la colonne */
    grid-template-areas: "left-column right-column right-column";
    width: 1200px;
    margin-top: 40;
}

.section{
    margin-bottom: 1.5rem;
}

.left-column{
    grid-area: left-column;
    padding: 100px;
    background-color: #4c5d6c;
    color: white;
    margin-top: 180;
}

.portrait{
    border-radius: 0%;
    max-width: 150px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
    margin-top: 10;
  }
.right-column{
    grid-area: right-column;
    display: grid;
    grid-template-rows: 250px 1fr;
    grid-template-areas: 
      "header"
      "content";
  }
  .content{
      grid-area: content;
      padding: 50px;
  }

  #top1{
      position: absolute;
      top: 10px;
      left: 10px;
      right: 0px;
      width: 100%;
      height: 200px;
      padding: 0px;
      margin-top: 0;
  }
  #top2{
      position:absolute;
      left: 0px;
      right: 0px;
      width: 100%;
      height: 6cm;
      padding-bottom: 100px;
  }
